PORT=
APP_PATH=

ACCESS_COOKIE_NAME=
REFRESH_COOKIE_NAME=
COOKIE_SECURE=
COOKIE_SAMESITE=
COOKIE_DOMAIN=

ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_LIFETIME=
REFRESH_TOKEN_SECRET_KEY=

DB_DIALECT=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=